.box{
    height: 100px;
    width:300px;
    background-color:pink;

    /*animation-name:fontAnimation;
    animation-duration: 2s;
    animation-timing-function :ease-in;
    animation-delay:0;
    animation-iteration-count:3;
    animation-direction:normal; */
    animation:colorAnimate 3s ease-in 0s infinite normal;
}

@keyframes fontAnimation{
    from{font-size:20px;}
    to{font-size: 40px;}
}
@keyframes colorAnimate{
    0%{
        background-color: green;
    }
    50%{
        background-color: yellow;
    }
    80%{
        background-color: red;
    }
    100%{
        background-color: blue;
    }
}