div{
    height:150px;
    width300px;
    background-color: gray;
    border: 5px dotted black;
    margin-top: 20px;
    margin-right: 1 em;
    margin-bottom: 40px;
    margin-left: 2 em;
    padding: 1 em;
}