*{
    padding:0;
    margin:0;
    text-decoration:none;
    color:white;
}
#navbar{
    height:60px;
    background-color:black;
    
}
button{
    background-color: orange;
}
a{
    margin-right:200px;
    
}
#logo{
color: orange;
font-size: 25px;
}

.contentbox{
    height:100px;
    width:100px;
    background-color:black;
    border: 2px white solid;
    display:inline-block;
}
#content{
        height:653px;
}
footer{
    text-align:center;
    background-color:black;
}