body{
    background-color:#1c2f44;;
    margin: 0;
}

.image{
    justify-content: center;
    align-items: center;
    background-image: url(vivek3.png);
    width: 700px;
    height: 900px;
    background-repeat: no-repeat;
    background-position: right;
    margin: 0 auto;
    overflow: hidden;
    background-size:cover;
    -webkit-background-clip: text;
    background-attachment: fixed;
    -webkit-text-fill-color:rgb(255,9,9,0);
}